replicaCount: 1

# image:
#   repository: glacius27/ats-recruitment-service
#   tag: "latest"
#   pullPolicy: IfNotPresent
image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

service:
  port: 8080

env:
  ASPNETCORE_ENVIRONMENT: "Development"
  EnableSwagger: "true"

  # PostgreSQL
  POSTGRES_HOST: "recruitment-postgres"
  POSTGRES_PORT: "5432"
  POSTGRES_DB: "ats_recruitment"
  POSTGRES_USER: "ats"

  # RabbitMQ
  RabbitMq__HostName: "rabbitmq"
  RabbitMq__Port: "5672"
  RabbitMq__UserName: "ats_user"
  RabbitMq__Exchange: "ats.exchange"
  RabbitMq__ClientId: "recruitment"

  # Service Discovery - Disabled, using Kubernetes DNS
  SERVICE_DISCOVERY_ENABLED: "false"
  
  # Kubernetes service URLs (using DNS)
  AuthService__BaseUrl: "http://ats-authorization-service:8080"

secretEnv:
  POSTGRES_PASSWORD: "ats_pass"
  RabbitMq__Password: "ats_pass"

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: recruitment.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
