apiVersion: v1
kind: ConfigMap
metadata:
  name: ats-observability-grafana-datasource-loki
  namespace: {{ .Release.Namespace }}
  labels:
    grafana_datasource: "1"
data:
  loki.yaml: |
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        access: proxy
        url: http://ats-observability-loki:3100
        isDefault: false
        jsonData:
          maxLines: 1000
          derivedFields:
            - datasourceUid: prometheus
              matcherRegex: "traceID=(\\w+)"
              name: TraceID
              url: '$${__value.raw}'