global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'ats-services'
    metrics_path: /metrics
    scrape_interval: 5s
    static_configs:
      - targets:
          - 'host.docker.internal:5000'  # applicants-service
          - 'host.docker.internal:5001'  # vacancy-service
          - 'host.docker.internal:5002'  # recruitment-service
          - 'host.docker.internal:5003'  # interview-service
