kube-prometheus-stack:
  grafana:
    adminPassword: "admin"
    service:
      type: ClusterIP

loki-stack:
  loki:
    enabled: true
    persistence:
      enabled: false

  promtail:
    enabled: true
