apiVersion: v1
kind: Service
metadata:
  name: {{ include "ats-candidate-service.fullname" . }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      name: http
  selector:
    app: {{ include "ats-candidate-service.fullname" . }}