replicaCount: 1

# image:
#   repository: glacius27/ats-vacancy-service
#   tag: "latest"
#   pullPolicy: IfNotPresent
image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

service:
  port: 8080

env:
  ASPNETCORE_ENVIRONMENT: "Development"
  EnableSwagger: "true"

  # MongoDB
  MongoDbSettings__ConnectionString: "mongodb://mongo:27017"
  MongoDbSettings__DatabaseName: "ats_vacancy_db"
  MongoDbSettings__VacanciesCollection: "Vacancies"

  # RabbitMQ
  RabbitMq__HostName: "rabbitmq"
  RabbitMq__Port: "5672"
  RabbitMq__UserName: "ats_user"
  RabbitMq__Exchange: "ats.exchange"
  RabbitMq__ClientId: "vacancy"

  # Service Discovery - Disabled, using Kubernetes DNS
  SERVICE_DISCOVERY_ENABLED: "false"
  
  # Kubernetes service URLs (using DNS)
  AuthService__BaseUrl: "http://ats-authorization-service:8080"

secretEnv:
  RabbitMq__Password: "ats_pass"

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: vacancy.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
